# EMAG2v3 Data Crop
Author: Annora Vandanu Erlangga

How to use:
- Change the directory/path of the data
- Define the mininumum and maximum latitude and longitude parameter

## Read data file
I prefer to download EMAG2 data in `.npz` format since itâ€™s way smaller than `.csv` (but later I'll convert it to `.csv` later anw). The data can be downloaded from [here](https://zenodo.org/records/3245551).

In [29]:
import pandas as pd
import numpy as np

In [30]:
data = np.load('./EMAG2_V3_20170530.npz')
print(data.files)
print(data['data'][0])

['data']
[ 1.6666668e-02 -8.9983330e+01  9.9999000e+04 -1.0130384e+02
  5.8000000e+01]

**EMAG2_V3_20170530.npz** contains the following columns:
1. LON = Geographic Longitude WGS84 (decimal degrees)
2. LAT = Geographic Latitude WGS84 (decimal degrees)
3. SeaLevel = Magnetic Anomaly Value at Sea Level(nT)
4. UpCont = Magnetic Anomaly Value at continuous 4km altitude (nT)
5. Code = Data Source Code (see table below)
6. Error = Error estimate (nT)

Code 888 is assigned in certain cells on grid edges where the data source is ambiguous and assigned an error of -888 nT

Code 999 is assigned in cells where no data is reported with the anomaly value assigned 99999 nT and an error of -999 nT

## Set `.npz` into pandas dataframe

In [35]:
numpy_array = data['data']
df = pd.DataFrame(numpy_array)

In [37]:
# Assign column
df.columns = ['LON', 'LAT', 'SeaLevel', 'UpCont', 'Error']
print(df)

               LON       LAT  SeaLevel      UpCont  Error
0         0.016667 -89.98333   99999.0 -101.303841   58.0
1         0.050000 -89.98333   99999.0 -101.443092   58.0
2         0.083333 -89.98333   99999.0 -101.688683   58.0
3         0.116667 -89.98333   99999.0 -101.978600   58.0
4         0.150000 -89.98333   99999.0 -102.401047   58.0
...            ...       ...       ...         ...    ...
58319995 -0.150000  89.98333   99999.0  -99.207596  167.0
58319996 -0.116667  89.98333   99999.0  -99.201698  167.0
58319997 -0.083333  89.98333   99999.0  -99.195808  167.0
58319998 -0.050000  89.98333   99999.0  -99.189903  167.0
58319999 -0.016667  89.98333   99999.0  -99.184006  167.0

[58320000 rows x 5 columns]

## Define coordinate boundary

In [43]:
min_lat, max_lat = -7.8, -7.6  # Minimum and maximum latitude
min_lon, max_lon = 112.4, 112.7  # Minimum and maximum longitude

if 'LAT' in df.columns and 'LON' in df.columns:
    cropped_df = df[
        (df['LAT'] >= min_lat) & (df['LAT'] <= max_lat) &
        (df['LON'] >= min_lon) & (df['LON'] <= max_lon)
    ]
else:
    print("Error: 'LAT' or 'LON' columns not found in the dataframe")
    exit()

output = 'crop_EMAG2_V3.csv'
cropped_df.to_csv(output, index=False)